.flexContainer{
    background-image: url('../../../Images/landing.jpeg');
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 247, 250);
    padding: 10px;
    border-radius: 10px;
}

.button button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
}