.flexContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../../Images/landing.jpeg");
}

.gif {
    margin-top: 40px;
}

.filters{
    background-color: rgb(1, 176, 88);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    box-shadow: 1px 1px 30px black;
}

.order{
    display: inline-block;
    margin: 5px;
}

.filter {
    display: inline-block;
    margin: 5px;
}

.resetButton {
    margin: 10px;
}

.resetButton button {
    margin: 0 0.25em;
    padding: 0 0.5em;
    background-color: rgb(60, 66, 87);
    height: 2.2em;
    width: auto;
    font-size: 1rem;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(60, 66, 87);
    box-shadow: 1px 1px 10px black;
    margin: auto;
}

.header{
    width: 100%;
}
.footer{
    width: 100%;
    margin-top: auto;
}